<footer class="site-footer h-card">
 <div id="collaborations">
  <details><summary>Collaborations</summary>
    {% assign collaborations = site.data.collaborations %}
{% for collab in collaborations %}
    <a target="_blank" href="{{ collab.link }}">{{collab.text}}</a><br>
{% endfor %}
  </details>
 </div>
 <div id="upcoming">
  {{site.data.upcoming.text}}
 </div>
 <div id="radio-lio">
  {{site.data.radio_lio.text}}
 </div>

 <div id="colophon">
    {{site.data.colophon.text}}<br>
  <img src="{{site.baseurl}}/assets/emoocean.gif"/>
 </div>

</footer>
