<header class="site-header" role="banner">


    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }} </a>

</header>
<div id="social">

  {%- include social.html -%}
  {% if page.url == "/" %}
  <div id="filters">
      {% assign work_by_cat = site.data.works | group_by:"category" %}
      {% for cat in work_by_cat %}
       <div id="{{cat.name | replace: ' ', '-'}}" class="filter"> {{cat.name}}</div>
      {% endfor %}
      </div>
  {% endif %}
</div>

